<h2>Your Portfolio</h2>
<table class="table table-striped table-bordered portfolioTable small-font">
    <thead>
        <tr>
            <th></th>
            <th colspan="3" class="text-center">Price</th>
            <th colspan="3"></th>

        </tr>
        <tr>
            <th>Symbol <strong>**</strong></th>
            <th>Paid</th>
            <th>Current</th>
            <th>Gain/Loss</th>
            <th class="text-center">Top 50 List?</th>
            <th>Rating</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stock in portfolioStocks"
            ng-class="stock.advice.val" >
            <td><a tooltip rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="{{stock.advice.msg}}">{{stock.symbol}}</a></td>
            <td>{{stock.purchase_price | currency}} </td>
            <td>{{stock.currentPrice | currency }}</td>
            <td><span ng-class="{'text-success': stock.gainLoss > 0, 'text-error': stock.gainLoss < 0}"> {{stock.gainLoss | number:2}} %</span></td>
            <td class="text-center"><i class="fa fa-2x" ng-class="{'fa-check-square-o text-success': stock.inList, 'fa-exclamation text-error': !stock.inList}"></i></td>
            <td class="text-center">{{stock.rating}}</td>
            <td><button tooltip rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="For when you made a mistake" class="btn btn-info" ng-click="displayEditForm(stock)">Edit</button>
                <button tooltip rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="For when sell a position" class="btn btn-success" ng-click="displaySellPosition(stock)">Sell</button></td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info"><strong>** Mouseover Stock Symbol for Advice</strong></div>
<p></p>
<div id="addToPortfolio" ng-show="!showAddForm && !showEditForm">
    <button class="btn btn-large btn-primary" ng-click="showAddForm = true"><i class="fa fa-plus"></i>  Add Position</button>
</div>
<div id="addToPortfolioForm" ng-show="showAddForm">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="stockSymbol">Symbol</label>
            <div class="controls">
                <input type="text" id="stockSymbol" ng-model="stockSymbol" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sharesPurchased">Shares</label>
            <div class="controls">
                <input type="number" id="sharesPurchased" ng-model="sharesPurchased" required min="1" step="any">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="pricePaid">Price</label>
            <div class="controls">
                <input type="number" id="pricePaid" ng-model="pricePaid" required min="0" step="any">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="datePurchased">Purchase Date</label>
            <div class="controls">
                <input type="date" id="datePurchased" ng-model="datePurchased" required>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <input type="submit" class="btn btn-success" ng-click="submitAddPosition()">
                <button class="btn btn-inverse" ng-click="cancelAddPosition()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div id="editPortfolioForm" ng-show="showEditForm">
    <form class="form-horizontal">
        <input type="hidden" id="editId" ng-model="positionId"/>
        <div class="control-group">
            <label class="control-label" for="editStockSymbol">Symbol</label>
            <div class="controls">
                <input type="text" id="editStockSymbol" ng-model="stockSymbol" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editSharesPurchased">Shares</label>
            <div class="controls">
                <input type="number" id="editSharesPurchased" ng-model="sharesPurchased" required min="1" step="any">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editPricePaid">Price</label>
            <div class="controls">
                <input type="number" id="editPricePaid" ng-model="pricePaid" required min="0" step="any">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editDatePurchased">Purchase Date</label>
            <div class="controls">
                <input type="date" id="editDatePurchased" ng-model="datePurchased" required>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <input type="submit" class="btn btn-success" ng-click="submitEditPosition()">
                <button class="btn btn-inverse" ng-click="cancelEditPosition()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div id="sellModal" ng-show="showSellModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sell {{sellStockSymbol}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <input type="hidden" id="sellStockId" ng-model="sellStockId"/>
            <div class="control-group">
                <label class="control-label" for="sellStockPrice">Sale Price</label>
                <div class="controls">
                    <input type="number" id="sellStockPrice" ng-model="sellStockPrice" min="0" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sellStockDate">Sale Date</label>
                <div class="controls">
                    <input type="date" id="sellStockDate" ng-model="sellStockDate" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sellAllShares">Shares Sold</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="sellSharesRadio" ng-model="sellHowManyShares" id="sellAllShares" value="sellAll" checked ng-click="disableSomeShares(true)">
                        Sell <strong>All</strong> ({{sellStockShares}}) Shares
                    </label>
                    <label class="radio">
                        <input type="radio" name="sellSharesRadio" ng-model="sellHowManyShares" id="sellSomeShares" value="someShares" ng-click="disableSomeShares(false)">
                        Sell Some Shares:
                    </label>
                </div>
                <label class="control-label" for="sharesSold"># Shares</label>
                <div class="controls">
                    <input type="number" id="sharesSold" ng-model="sharesSold" ng-min="1" disabled ng-required="sellHowManyShares === 'someShares'"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="sellStock()">Sell</button>
    </div>
</div>

